%ul
  %li= link_to("Web Links", organizer_web_links_path)
  %li= link_to("Reports", organizer_reports_path)
  %li= link_to("Opportunities", organizer_opportunities_path)
  %li= link_to("Profile", edit_organizer_profile_path)