.dropdown-menu.dropdown-menu-arrow.dropdown-menu-right
  .dropdown-header.noti-title
    %h6.text-overflow.m-0 Welcome!
  = link_to(edit_organizer_profile_path, class: "dropdown-item") do
    %i.ni.ni-single-02
    %span My profile
  = link_to(edit_organizer_organization_path, class: "dropdown-item") do
    %i.ni.ni-settings-gear-65
    %span Organization
  .dropdown-divider
  %a.dropdown-item{href: "#!"}
    %i.ni.ni-user-run
    %span Logout