.likert-scale {

  margin: 40px 0 40px 0;

  input[type=submit] {
    display: none;
  }

  .column {
    padding: 10px;
    margin: 2px;

    border: 1px solid transparent; // prevent "jumping" during hover
    transition: background-color .75s ease-in-out;
    transition: border .15s ease-in-out;

    .radio-button {
      margin-bottom: 10px;
    }

    &:hover, &.selected {
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      border-radius: 5px;
    }
  }
}